{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-only
#}

{% macro single_worker(workerType) %}
{{ workerType }}:
  ## Set to true to deploy this worker
  enabled: false

  ## Resources for this worker.
  ## If omitted the global Synapse resources are used
  # resources: {}
{%- endmacro %}

{% macro scalable_worker(workerType) %}
{{ workerType }}:
  ## Set to true to deploy this worker
  enabled: false

  ## The number of replicas of this worker to run
  replicas: 1

  ## Resources for this worker.
  ## If omitted the global Synapse resources are used
  # resources: {}
{%- endmacro %}
