{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
#}
{% import 'sub_schema_values.yaml.j2' as sub_schema_values -%}
{{ sub_schema_values.generatedFileWarning() }}
{{ sub_schema_values.global() }}

## Arbitrary extra config to inject into Element Web's config.json a a YAML/JSON object
additional: {}

## Defines which Matrix server this Element Web should point at.
defaultMatrixServer: {}
  ## URL where the Matrix server is hosted
  # baseUrl:

# Number of Element Web replicas to start up
replicas: 2
{{ sub_schema_values.image(registry='docker.io', repository='vectorim/element-web') }}
{{ sub_schema_values.ingress() }}
{{ sub_schema_values.containersSecurityContext() }}
{{ sub_schema_values.nodeSelector() }}
{{ sub_schema_values.podSecurityContext(user_id='10004', group_id='10004') }}
{{ sub_schema_values.resources(requests_memory='50Mi', requests_cpu='50m', limits_memory='200Mi') }}
{{ sub_schema_values.tolerations() }}
{{ sub_schema_values.workloadAnnotations() }}
