{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
#}
enabled: true

{{- sub_schema_values.credential("Postgres Admin Password", "adminPassword", initIfAbsent=true) }}
{{- sub_schema_values.credential("ESS Role Password", "essPassword", initIfAbsent=true) }}

{{- sub_schema_values.persistentVolumeClaim("storage") }}
