{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
#}
enabled: true

postgresExporter:
  {{- sub_schema_values.image(registry='docker.io', repository='prometheuscommunity/postgres-exporter', tag='v0.16.0') | indent(2) }}

{{- sub_schema_values.credential("Postgres Admin Password", "adminPassword", initIfAbsent=true) }}
{{- sub_schema_values.credential("ESS Role Password", "essPassword", initIfAbsent=true) }}

{{- sub_schema_values.persistentVolumeClaim("storage") }}
{{- sub_schema_values.image(registry='docker.io', repository='postgres', tag='16-alpine') }}
{{- sub_schema_values.labels() }}
{{- sub_schema_values.workloadAnnotations() }}
{{- sub_schema_values.containersSecurityContext() }}
{{- sub_schema_values.nodeSelector() }}
{{- sub_schema_values.podSecurityContext(user_id='10091', group_id='10091') }}
{{- sub_schema_values.resources(requests_memory='100Mi', requests_cpu='100m', limits_memory='4Gi') }}
{{- sub_schema_values.serviceAccount() }}
{{- sub_schema_values.serviceMonitors() }}
{{- sub_schema_values.tolerations() }}
{{- sub_schema_values.topologySpreadConstraints() }}
