{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
#}

{% import 'sub_schema_values.yaml.j2' as sub_schema_values -%}
{{ sub_schema_values.generatedFileWarning() }}
{{ sub_schema_values.ess() }}

## Components
initSecrets:
  {% macro initSecrestValues() %}{% include 'init-secrets.yaml.j2'%}{% endmacro %}
  {{- initSecrestValues() | trim | indent(2) }}

elementWeb:
  {% macro elementWebValues() %}{% include 'element-web.yaml.j2'%}{% endmacro %}
  {{- elementWebValues() | trim | indent(2) }}

haproxy:
  {% macro haproxyValues() %}{% include 'haproxy.yaml.j2'%}{% endmacro %}
  {{- haproxyValues() | trim | indent(2) }}

synapse:
  {% macro synapseValues() %}{% include 'synapse.yaml.j2'%}{% endmacro %}
  {{- synapseValues() | trim | indent(2) }}

wellKnownDelegation:
  {% macro wellKnownDelegationValues() %}{% include 'wellKnownDelegation.yaml.j2'%}{% endmacro %}
  {{- wellKnownDelegationValues() | trim | indent(2) }}
