{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
#}

{% import 'sub_schema_values.yaml.j2' as sub_schema_values -%}
{{ sub_schema_values.generatedFileWarning() }}
{{ sub_schema_values.ess() }}

elementWeb:
  {% macro elementWebValues() %}{% include 'element-web/values.yaml.j2'%}{% endmacro %}
  {{- elementWebValues() | trim | indent(2) }}

synapse:
  {% macro synapseValues() %}{% include 'synapse/values.yaml.j2'%}{% endmacro %}
  {{- synapseValues() | trim | indent(2) }}
