# Copyright 2024 New Vector Ltd
#
# SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial

name: Helm Chart Building tests
on:
  pull_request:
  push:
    branches:
    - main
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  # We build from source and commit all generated file changes so that we can see the impact in PRs
  # We want to ensure that the commit of built changes does happen, so fail if building creates changes
  # If this gets problematic we change to not committing the built schemas/values to git
  no-changes-after-building:
    runs-on: cpu-s
    container:
      image: ghcr.io/${{ github.repository }}/ci-runner
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Define a cache for the virtual environment based on the dependencies lock file
      uses: actions/cache@v3
      with:
        path: ./.venv
        key: venv-${{ hashFiles('poetry.lock') }}

    - name: Install venv
      run: |
        poetry env info
        poetry install
        echo "$(poetry env info -p)/bin" >> "${GITHUB_PATH}"

    - name: Build and check for changes
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"

        # Ensure all JSON files are consistently formatted
        for file in $(git ls-files | grep json); do yq -iP --indent 2 -o json '.' $file; done

        # Rebuild the charts with from the current source
        version=$(yq '.version' charts/matrix-stack/Chart.yaml)
        scripts/assemble_helm_charts_from_fragments.sh
        scripts/set_chart_version.sh "$version"

        git diff --exit-code

  helm-lint:
    runs-on: cpu-s
    container:
      image: ghcr.io/${{ github.repository }}/ci-runner
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2.6.1

    - name: Run chart-testing (lint)
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        ct lint --config ct.yaml

    - name: Ensure we don't use the helm $ root token in .tpl files
      shell: bash
      run: |
        find . -type f -name '*.tpl' -exec grep -E '\{\{[^}]*\$[^a-zA-Z0-9_][^}]*\}\}' {} + && {
          echo 'Error: $ is used in a .tpl files, but helm passes the local context to the special variable $ in included templates.'; exit 1 
        } || echo "OK."


    - name: Define a cache for the virtual environment based on the dependencies lock file
      uses: actions/cache@v3
      with:
        path: ./.venv
        key: venv-${{ hashFiles('poetry.lock') }}

    - name: Install venv
      run: |
        # helm/chart-testing-action sets up its own venv that we have no control over
        # We don't want to use it for this
        unset VIRTUAL_ENV
        # Or future actions
        poetry_venv=$(poetry env info -p)
        sed -i "s|^VIRTUAL_ENV=.*|VIRTUAL_ENV=$poetry_venv|" "${GITHUB_ENV}"

        poetry env info
        poetry install
        echo "$(poetry env info -p)/bin" >> "${GITHUB_PATH}"

    - name: Run kubeconform
      run: |
        for subchart in charts/*; do
          for values in $(find "$subchart"/ci -name '*values.yaml'); do
            echo "Testing $subchart with $values";
            helm template -f "$values" "$subchart" | kubeconform -summary
          done
        done

    - name: Run checkov
      run: |
        checkov --version
        export HELM_NAMESPACE=ess
        for subchart in charts/*; do
          for checkov_values in $(find "$subchart"/ci -name '*checkov*values.yaml'); do
            echo "Testing $subchart with $checkov_values";
            checkov -d "$subchart" --framework helm --var-file "$checkov_values" --quiet
          done
        done

    - name: Run our manifest tests
      run: poetry run pytest tests/manifests
